<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Derdehands.be - About</title>
    <link rel="stylesheet" th:href="@{~/CSS/main.css}">
</head>
<body>

<div th:replace="~{header :: header(about)}"></div>

<div class="container">

    <h1>About</h1>

    <h2>Adres</h2>
    <p>Oudebaan 434<br>3000 Leuven</p>

    <h2>Contact</h2>
    <p>0473 59 13 87</p>
    <p>info@derdehands.be</p>

    <p> Nullam dignissim eros eu eros blandit iaculis. Aliquam vel cursus ligula. In convallis nisi diam, at euismod sapien egestas nec. Curabitur quam tellus, mattis et enim id, maximus lobortis libero. Sed arcu nunc, blandit sed dapibus in, venenatis non elit. Phasellus tortor velit, convallis nec condimentum nec, semper ut elit. Pellentesque sit amet libero neque. Ut auctor orci eget massa ultrices, nec accumsan dui sagittis. Cras commodo magna ac lorem rutrum interdum. Mauris sagittis nulla id nunc consequat tempor. Donec eleifend facilisis ipsum eu auctor. Praesent porttitor, sem at auctor dignissim, odio erat egestas tellus, eget rutrum ante diam vitae sem. Morbi et mi ac nulla porta ultricies cursus et nisi. In in mollis enim. Donec ac risus sit amet enim ultricies tempus. </p>


</div>

<div th:replace="~{footer :: footer}"></div>

</body>
</html>