<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detqils voor item</title>
    <link rel="stylesheet" th:href="@{~/CSS/main.css}">

</head>
<body>

<div th:replace="~{header :: header(details)}"></div>

<div class="container" th:object="${productDetail}">

    <h1 th:text="*{naam}"></h1>

    <p class="prod__seller" th:text="*{username}"></p>
    <a class="btn" th:href="|mailto:*{email}|">Contacteer verkoper</a>
    <p class="prod__price" th:text="|€*{startprijs}|"></p>
    <p class="prod__desc" th:text="*{omschrijving}"></p>

    <a th:href="@{~/index}" class="btn">Naar overzicht</a>

</div>

<div th:replace="~{footer :: footer}"></div>

</body>
</html>